<h2>Balance: $100</h2>
<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="blue" class="bi bi-circle-fill" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
  <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="4" dy=".3em">?</text>
</svg>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>
  <div>
    <h2 class ="text-white bg-primary">Play</h2>
</div>
<form>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>
    

    <button id="button-play-game" class="btn btn-outline-primary">Play</button>
    <button type="sup" class="btn btn-outline-danger">New Game</button>
</form>
<ul id="display" class="bg-success bg-opacity-25"></ul>