<h2>Balance: </h2>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
    <circle cx="8" cy="8" r="8"/>
  </svg>
<form>
    <div class="form-group">
        <label for="number">Enter a number: </label>
        <input type="number" name="number" id="number"
            required min="1" max="100" class="form-control"
            placeholder="Enter a number 1 ~ 100">
    </div>

    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
<ul id="display" class="bg-success bg-opacity-25"></ul>